<% include ./partials/header.ejs %>
  <div class="ui main text container segment">
    <div class="ui huge header">
      <%=blog.title %> BLOG!!
    </div>
    <form action="/blogs/<%=blog.id%>?_method=put" method="post" class="ui form">
      <div class="field">
        <label>TITLE</label>
        <input type="text" name="blog[title]" value="<%=blog.title %>">
      </div>
      <div class="field">
        <label>IMAGE</label>
        <input type="text" name="blog[image]" value="<%=blog.image %>">
      </div>
      <div class="field">
        <label>BLOG CONTENT</label>
        <textarea name="blog[body]"><%=blog.body %></textarea>
      </div>
      <input type="submit" class="ui green big inverted button">
        </form>
  </div>
<% include ./partials/footer.ejs %>
